/Base64.class
/XmlRpcArray.class
/XmlRpcCallback.class
/XmlRpcClient$1.class
/XmlRpcClient$2.class
/XmlRpcClient.class
/XmlRpcCustomSerializer.class
/XmlRpcException.class
/XmlRpcFault.class
/XmlRpcInvocationHandler.class
/XmlRpcMessages.class
/XmlRpcParser.class
/XmlRpcProxy.class
/XmlRpcSerializer.class
/XmlRpcStruct.class
/XmlRpcValue.class
