/BooleanArraySerializer.class
/CollectionSerializer.class
/DoubleArraySerializer.class
/FloatArraySerializer.class
/IntArraySerializer.class
/IntrospectingSerializer.class
/ListSerializer.class
/LongArraySerializer.class
/LongPrimitiveSerializer.class
/LongWrapperSerializer.class
/MapSerializer.class
/ObjectArraySerializer.class
